<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <!-- block level elements : 
        div , h1-h6 , p , ul 

        full width 
        height - width 
        next line start 
    
           inline level elements : 
           span , a   
           no full width 
           no next line 

           inline - block elements 

    
    -->
<style>
 div{
    border: 1px solid red;
    height: 50px;
 }


  p{
    border: 1px solid blue;
    height: 40px;
    width: 200px;
  }


  span{
    border: 1px solid red;
    height: 100px;
    width: 300px;
  }

  a{
    border: 1px solid blue;
    height: 200px;
    width: 200px;
    display: block;


  }

  h6{
    border: 1px solid red;
    display: inline-block;
    height: 50px;
  }

</style>


<div >


</div>

<p>  lorem</p>

<span>   inline level </span>

<span>  second </span>

<a href="">click </a>
<a href="">click 2 </a>




<h6>   inline block  </h6>
<h6>   inline block  </h6>


    
</body>
</html>
