<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<!--
    block level element : 
    full width
    next line start 
    height - width
    div ,  h1- h6 
    




    inline level element :
    no full width 
    no next line start 
    no height - width 
    a , span  

   

-->

<style>  

div{
    border: 1px solid red;
    height: 200px;
    width: 200px;
}

h1{
    border: 1px solid rgb(0, 81, 255);
    height: 200px;
    width: 300px;


}


a{
    border: 1px solid rgb(255, 0, 179);
    height: 200px;
    width: 200px;


}

span{
    border: 1px solid rgb(255, 0, 179);
    width: 200px;
    height: 200px;


}

p{
    color: red;
}

h4{
    color: blue;
    border: 1px solid red;
}

</style>


<div> 1 </div>
<h1>  heading </h1>
<h1>heading 2 </h1>

<a href="">home </a>
<a href="">blog</a>


<span>  span tag     </span>
<span>  span tag  2    </span>



<p>   this is the  <span>  p tag  </span>  </p>


<!-- <div>
   <img src="./../imgs/cpp.png" width="100" alt="">
   
   <a href="">home</a>
   <a href="">home</a>
   <a href="">home</a>

   <input type="search">
   <button>sign </button>
   <button>register</button>




</div> -->




<!-- <div>
    <div></div>
    <div></div>
    <div></div>

</div> -->


<!-- 
<div>1 </div>
<div> 2 </div>
<div>3 </div> -->







    
</body>
</html>